
@{
    ViewBag.Title = "Main page";
    Layout = "_Layout";
}

<div class="d-flex container-md justify-content-center" >
    <div class="grid-wrap" id="gridwrap">
        
    </div>
    <form autocomplete="off">
    <div class="filter-wrap">
        <div class="filter-container">
            <div class="filter-group">
                <div class="filter-group__title">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sorting options</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <input type="radio" id="order1" name="order" value="Title" />
                                <label for="order1">Title</label>
                            </div>
    
                            <div class="dropdown-item">
                                <input type="radio" id="order2" name="order" value="Date" />
                                <label for="order2">Year</label>
                            </div>
    
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                <input type="radio" id="dir1" name="direction" value="Ascending" />
                                <label for="dir1">Ascending</label>
                            </div>
    
                            <div class="dropdown-item">
                                <input type="radio" id="dir2" name="direction" value="Descending" />
                                <label for="dir2">Descending</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-group__title">
                    Publish year
                </div>
                <div class="filter-group__input">
                    <input class="is-invalid" type="text" name="yearFrom" placeholder="from" />
                    <span> - </span>
                    <input type="text" name="yearTo" placeholder="to" />
                </div>
            </div>
            <div class="filter-group">
                <div class="genre-container">
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre0" value="0" />
                        <label for="genre0">Adventure</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre1" value="1" />
                        <label for="genre1">Autobiography</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre2" value="2" />
                        <label for="genre2">Bildungsroman</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre3" value="3" />
                        <label for="genre3">Comedy</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre4" value="4" />
                        <label for="genre4">Dystopian Fiction</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre5" value="5" />
                        <label for="genre5">Epic Poetry</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre6" value="6" />
                        <label for="genre6">Existentialism</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre7" value="7" />
                        <label for="genre7">Fantasy</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre8" value="8" />
                        <label for="genre8">Gothic Fiction</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre9" value="9" />
                        <label for="genre9">Gothic Romance</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre10" value="10" />
                        <label for="genre10">Magical Realism</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre11" value="11" />
                        <label for="genre11">Medieval</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre12" value="12" />
                        <label for="genre12">Modernism</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre13" value="13" />
                        <label for="genre13">Mystery</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre14" value="14" />
                        <label for="genre14">Novella</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre15" value="15" />
                        <label for="genre15">Philosophical</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre16" value="16" />
                        <label for="genre16">Poetry</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre17" value="17" />
                        <label for="genre17">Political Satire</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre18" value="18" />
                        <label for="genre18">Psychological</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre19" value="19" />
                        <label for="genre19">Realist Fiction</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre20" value="20" />
                        <label for="genre20">Romance</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre21" value="21" />
                        <label for="genre21">Short Stories</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre22" value="22" />
                        <label for="genre22">Social Criticism</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre23" value="23" />
                        <label for="genre23">Tragedy</label>
                    </div>
                    <div class="genre-item">
                        <input type="checkbox" name="genre" id="genre24" value="24" />
                        <label for="genre24">War Fiction</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-group__buttons">
            <button type="submit" class="filter-button clear">Clear</button>
            <button type="submit" class="filter-button apply">Apply</button>
        </div>
    </div>
</form>
</div>

<script src="js/books/list.js"></script>

