
@{
    ViewBag.Title = "Main page";
    Layout = "_Layout";
}

<div class="d-flex container-md justify-content-center" >
    <div class="grid-wrap">
        
    </div>
    <form autocomplete="off">
    <div class="filter-wrap">
        <div class="filter-container">
            <div class="filter-group">
                <div class="filter-group__title">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sorting options</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <input type="radio" id="order1" name="order" value="Title" />
                                <label for="order1">Title</label>
                            </div>
    
                            <div class="dropdown-item">
                                <input type="radio" id="order2" name="order" value="Date" />
                                <label for="order2">Year</label>
                            </div>
    
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                <input type="radio" id="dir1" name="direction" value="Ascending" />
                                <label for="dir1">Ascending</label>
                            </div>
    
                            <div class="dropdown-item">
                                <input type="radio" id="dir2" name="direction" value="Descending" />
                                <label for="dir2">Descending</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-group__title">
                    Publish year
                </div>
                <div class="filter-group__input">
                    <input class="is-invalid" type="text" name="yearFrom" placeholder="from" />
                    <span> - </span>
                    <input type="text" name="yearTo" placeholder="to" />
                </div>
            </div>
            <div class="filter-group">
                <div class="genre-container">
                    <label class="control control-checkbox">
                        Adventure
                        <input type="checkbox" name="genre" value="0" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Autobiography
                        <input type="checkbox" name="genre" value="1" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Bildungsroman
                        <input type="checkbox" name="genre" value="2" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Comedy
                        <input type="checkbox" name="genre" value="3" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        DystopianFiction
                        <input type="checkbox" name="genre" value="4" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        EpicPoetry
                        <input type="checkbox" name="genre" value="5" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Existentialism
                        <input type="checkbox" name="genre" value="6" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Fantasy
                        <input type="checkbox" name="genre" value="7" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        GothicFiction
                        <input type="checkbox" name="genre" value="8" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        GothicRomance
                        <input type="checkbox" name="genre" value="9" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        MagicalRealism
                        <input type="checkbox" name="genre" value="10" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        MedievalLiterature
                        <input type="checkbox" name="genre" value="11" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Modernism
                        <input type="checkbox" name="genre" value="12" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Mystery
                        <input type="checkbox" name="genre" value="13" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Novella
                        <input type="checkbox" name="genre" value="14" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Philosophical
                        <input type="checkbox" name="genre" value="15" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Poetry
                        <input type="checkbox" name="genre" value="16" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        PoliticalSatire
                        <input type="checkbox" name="genre" value="17" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Psychological
                        <input type="checkbox" name="genre" value="18" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        RealistFiction
                        <input type="checkbox" name="genre" value="19" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Romance
                        <input type="checkbox" name="genre" value="20" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        ShortStories
                        <input type="checkbox" name="genre" value="21" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        SocialCriticism
                        <input type="checkbox" name="genre" value="22" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Tragedy
                        <input type="checkbox" name="genre" value="23" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        WarFiction
                        <input type="checkbox" name="genre" value="24" />
                        <div class="control_indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-group__buttons">
            <button type="submit" class="filter-button clear">Clear</button>
            <button type="submit" class="filter-button apply">Apply</button>
        </div>
    </div>
</form>
</div>

<script src="js/books/list.js"></script>

