@model double

@{
    ViewBag.Title = "Main page";
    Layout = "_Layout";
}

<div class="d-flex container-md mb-4">
    <div class="grid-container" id="gridContainer">
        
    </div>
</div>

<div class="d-flex justify-content-center">
    <ul class="pagination" id="paginationList" data-pages-amount="@Model">

    </ul>
</div>

<script src="js/books/list.js"></script>


