
@{
    ViewBag.Title = "Main page";
    Layout = "_Layout";
}

<div class="d-flex container-md justify-content-center" >
    <div class="grid-wrap">
        
    </div>
    <form autocomplete="off">
    <div class="filter-wrap">
        <div class="filter-container">
            <div class="filter-group">
                <div class="filter-group__title">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сортування за</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <input type="radio" id="order1" name="order" value="Title" />
                                <label for="order1">Назвою</label>
                            </div>
    
                            <div class="dropdown-item">
                                <input type="radio" id="order2" name="order" value="Date" />
                                <label for="order2">Роком</label>
                            </div>
    
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                <input type="radio" id="dir1" name="direction" value="Ascending" />
                                <label for="dir1">Зростаючий</label>
                            </div>
    
                            <div class="dropdown-item">
                                <input type="radio" id="dir2" name="direction" value="Descending" />
                                <label for="dir2">Спадаючий</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-group">
                <div class="filter-group__title">
                    Рік публікації
                </div>
                <div class="filter-group__input">
                    <input class="is-invalid" type="text" name="yearFrom" placeholder="від" />
                    <span> - </span>
                    <input type="text" name="yearTo" placeholder="до" />
                </div>
            </div>
            <div class="filter-group">
                <div class="genre-container">
                    <label class="control control-checkbox">
                        Пригоди
                        <input type="checkbox" name="genre" value="0" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Автобіографія
                        <input type="checkbox" name="genre" value="1" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Повчальний
                        <input type="checkbox" name="genre" value="2" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Комедія
                        <input type="checkbox" name="genre" value="3" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Дизтопія
                        <input type="checkbox" name="genre" value="4" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Епічна поезія
                        <input type="checkbox" name="genre" value="5" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Екзистенціалізм
                        <input type="checkbox" name="genre" value="6" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Фентезі
                        <input type="checkbox" name="genre" value="7" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Готичне фентезі
                        <input type="checkbox" name="genre" value="8" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Готичний роман
                        <input type="checkbox" name="genre" value="9" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Магічний реалізм
                        <input type="checkbox" name="genre" value="10" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Середньов.
                        <input type="checkbox" name="genre" value="11" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Модернізм
                        <input type="checkbox" name="genre" value="12" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Містерія
                        <input type="checkbox" name="genre" value="13" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Новелла
                        <input type="checkbox" name="genre" value="14" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Філософія
                        <input type="checkbox" name="genre" value="15" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Поезія
                        <input type="checkbox" name="genre" value="16" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Політична сатира
                        <input type="checkbox" name="genre" value="17" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Психологія
                        <input type="checkbox" name="genre" value="18" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Реалізм
                        <input type="checkbox" name="genre" value="19" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Роман
                        <input type="checkbox" name="genre" value="20" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Короткі історії
                        <input type="checkbox" name="genre" value="21" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Соц. критика
                        <input type="checkbox" name="genre" value="22" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Трагедія
                        <input type="checkbox" name="genre" value="23" />
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-checkbox">
                        Війскьовий роман
                        <input type="checkbox" name="genre" value="24" />
                        <div class="control_indicator"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-group__buttons">
            <button type="submit" class="filter-button clear">Очистити</button>
            <button type="submit" class="filter-button apply">Прийняти</button>
        </div>
    </div>
</form>
</div>

<script src="js/books/list.js"></script>

