*{
    outline: none;
    box-sizing: border-box;
}

body{
   height: 100%;
   padding: 0;
   margin: 0;
}

/*---------GRID---------*/
.grid-wrap{
    min-width:1000px;
    text-align:center;
    margin-top: 10px;
    border-radius:10px;
}

.grid-container {
    display:grid;
    width:100%;
    grid-auto-flow:row;
    grid-gap: 6px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 200px;
}

@media(max-width: 1400px) {
    .grid-wrap {
        min-width: 800px;
    }
    .grid-container {
        grid-template-columns: repeat(4,1fr);
    }
}

@media(max-width: 1200px) {
    .grid-wrap {
        min-width: 600px;
    }
    .grid-container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width: 992px) {
    .grid-wrap {
        min-width: 400px;
    }
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 640px) {
    .grid-wrap {
        min-width: 200px;
    }
    .grid-container {
        grid-template-columns: repeat(1,1fr);
    }
}

@media(max-width:440px){
    .d-flex {
        flex-direction:column-reverse;
        align-items: center;
    }
}

.grid-item {
    background: #404040;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    max-width: 200px;
    min-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid-item-text-link {
    padding: 0 6px;
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}

.grid-item-text-link:hover {
    color: Highlight
}

/*---------SEARCH---------*/
.search{
    position:fixed;
    background: rgba(0,0,0,0.5);
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    z-index:1000;
}

.search-input {
    width: 600px;
    height: 50px;
    background: white;
    color: black;
    border: 0 solid transparent;
    border-radius: 5px;
}

.search-container{
    margin:auto;
    width:600px;
    border-radius:5px;
}

.search-item {
    background: #303030;
    font-size: 1.2rem;
}

.search-item-title {
    text-decoration: none;
    color: white;
}

.search-item-author {
    color: lightgrey;
    text-decoration: none;
}

.hidden {
    display: none;
}

.search-item hr {
    margin: auto;
    width:580px;
}

/*---------FILTERING---------*/
.filter-wrap {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 15px;
    bottom: 0;
    height: 700px;
    width: 200px;
    background: rgb(48, 48, 48);
    border-radius: 10px;
    margin: 10px;
    padding: 0 3px;
}

.filter-container {
    max-height: calc(100% - 50px);
    overflow-y: auto;
}

.filter-group {
    margin: 10px;
    font-size: 1rem;
}

.filter-group__buttons{
    display:flex;
    position:absolute;
    bottom:0;
    right: 0;
    left: 0;
    padding: 3px 5px 5px;
    margin-top: auto;
}

.filter-button {
    margin: 0px 5px 5px;
    padding: 5px;
    width: 100%;
    border:none;
    border-radius: 5px;
    transition: 0.3s ease;
}

.filter-button:hover{
    background: #525252;
}

.filter-group__title {
    margin-bottom: 5px;
}

.filter-group__input {
    display: flex;
}

.filter-group__input input {
    border: 1px solid rgb(133,133,133);
    padding: 3px;
    width: 1%;
    flex: 1 1 auto;
}

.filter-group__input span {
    padding: 5px 0;
    margin: 0 5px;
    font-size: 1rem;
}

.dropdown-item label{
    width:100%;
}

.genre-container {
    background: #222222;
    border: 3px solid rgb(23, 23, 23);
    border-radius: 2px;
    padding: 0 5px;
}

/*---------LOADER---------*/
@keyframes mulShdSpin {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.loader {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

/*---------SCROLLBAR---------*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #424242;
}

/*---------BOOK PAGE---------*/
.info-container {
    display:flex;
    height:700px;
    border-radius:10px;
    column-gap: 10px;
}

.info-item {
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #303030;
}

.info-item p{
    margin:0;
}

.info-item img{
    background:white;
    border: 1.5px solid black;
    border-radius:30px;
    height:435px;
    width: 270px;
}

.info-item-description-short {
    margin: 25px 15px;
}

.description-short-text p:first-child{
    margin: 0;
    color: rgb(180, 180, 180);
    font-size: 10px;
    line-height: 10px;
}

.description-short-text p:last-child {
    margin: 0 0 8px;
}

.info-item button {
    position: relative;
    width: 80%;
    left:50%;
    bottom: -3%;
    transform: translateX(-50%);
}

.info-item:nth-child(2) {
    width: 100%;
}

.info-item strong {
    font-size: 2rem;
    padding-left: 5px;
}

.description-long-text {
    display: flex;
    position:relative;
    border: 2px solid #808080;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 15px 0;
    text-align: justify;
    max-height: 250px;
}

.description-long-text p{
    padding-right: 5px;
    overflow-y:auto;
}

.description-long-text strong{
    padding: 0 8px;
    font-size: 1rem;
    position: absolute;
    top: 0;
    transform:translateY(-55%);
    z-index:100;
    background: #303030;
}

.description-long-text img{
    border: none;
    border-radius: 0;
    background: #303030;
    width:38px;
    height:40px;
}

.description-long-text a{
    text-underline-offset:3px;
    margin: 0 auto;
}

@media(max-width:992px){
    .description-long-text span {
        display:none;
    }
}
@media(max-width:480px){
    .info-container{
        margin:0 auto;
        flex-direction: column;
        width: 320px;
        row-gap: 10px;
    }

    .container-md{
        padding: 0;
    }

    #addtoread{
        bottom: 0;
    }
}